@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #c9ced3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Raleway 400, sans-serif;
  font-size: 12px;
}

.player-container
{
  height: 375px;
  width: 300px;
  background: rgb(231, 139, 0);
  border-radius: 30px;
  box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.4);
}

.image-container {
  height: 225px;
  width: 255px;
  position: relative;  
  top: -30px;
  left: 24px;
}

.image-container img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 10px 15px 5px rgba(0, 0, 0, 0.6);
}


h2 {
  font-size: 25px;
  text-align: center;
  margin: 0;
}

h3 {
  font-size: 20px;
  text-align: center;
  font-weight: 200;
  margin: 5px 0 0;
}

/* Progress */
.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin:25px 20px;
  height: 4px;
  width: 85%;
}

.progress {
  background: #242323;
  border-radius: 5px;
  height: 100%;
  /* change this to show progress */
  width: 0%;
  transition: width 0.1s linear;
}

.duration-wrapper {
  position: relative;
  top: -25px;
  display: flex;
  justify-content: space-between;
}

/* Controls */
.player-controls {
  position: relative;
  top: -5px;
  left: 90px;
  width: 200px;
}

.fas {
  font-size: 20px;
  color: rgb(234, 234, 234);
  margin-right: 20px;
  cursor: pointer;
  user-select: none;

}
.fas:hover{
  filter: brightness(160%);
}


.main-button {
  font-size: 30px;
  position: relative;
  top: 1px;
}

/* Media Query: iPhone (Vertical) */
@media screen and (max-width: 400px) {

  .player-container
  {
    width: 95vw;
  }
  .img-container {
    left: 12px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
  }

  .player-controls {
    top: -10px;
    left: 100px;
  }
}
